/* Start Main Rulze */
body,h1,h2,h3,h4,h5,h6,p,ul {
	font-family:Roboto;
	padding:0px;
	margin:0px;
}
body {
	height:6000px;
	background-color:#101010;
}
.container {
	width:1170px;
	margin:auto;
}
a{
	text-decoration:none;
}
/* End Main Rulze */

/* Start Header */
div.header {
	margin-top:40px;
	background-color:#202020;
	border-left:5px solid #d54ab6;
	position:relative;
	bottom:-20px;
	z-index:2;
	overflow:hidden;	
}

.header .logo{
	float:left;
	padding:13px 20px;

}
.header .logo h3 {
	text-transform:uppercase;	
	color:white;
	font-weight:400;
	font-size:30px;
	letter-spacing:.2px;
}
.header .logo h3:before{
	content:'';
	padding:13px;
	display:inline-block;
	background-color:#d54ab6;
	border-radius:50%;
}
.header .navbar{
	float:right;
	text-transform:uppercase;
}
.header .navbar ul{
	list-style:none;
}
.header .navbar ul li{
	float:left;
	padding: 24px;
}
.header .navbar ul li:hover{
	background-color:#333333;
}
.header .navbar ul li a{
	color:#ebe8eb;
	font-weight:300;
}

/* End Header */

/* Start Slider */
div.slider{
	margin:auto;
	height:500px;
	overflow:hidden;

}
div.slider ul{
	list-style:none;
	width:3840px;
	position:relative;
	animation-name:slide;
	animation-duration:10s;
	animation-timing-function:ease;
	animation-iteration-count:infinite;
	animation-delay:8s;
}
div.slider ul li{
	float:left;
}
@-webkit-keyframes slide{
	0%{ left:0px; }
	50%{ left: -1920px; }
	100%{ left: -3840px; }
	

}
/* End  Slider */

/* Start Services */

/* End Services */