/* Start Main Rulze */
body,h1,h2,h3,h4,h5,h6,p,ul {
	font-family:Roboto;
	padding:0px;
	margin:0px;
}
body {
	background-color:#101010;
}
.container {
	width:1170px;
	margin:auto;
}
a{
	text-decoration:none;
}
/* End Main Rulze */

/* Start Header */
div.header {
	margin-top:40px;
	background-color:#202020;
	padding:15px;
	border-left:5px solid #d54ab6;
	overflow:hidden;
	
}

.header .logo{
	float:left;
}
.header .logo h3 {
	text-transform:uppercase;	
	color:white;
	font-weight:400;
	font-size:22px;
	letter-spacing:.2px;

}
.header div.logo h3:before{
	content:'';
	padding:10px;
	//width:5px;
	//height:5px;
	display:inline-block;
	background-color:#d54ab6;
	border-radius:50%;
}
.header .navbar{
	float:right;
}
.header .navbar ul{

}
.header .navbar ul li{
	
}
/* End Header */
div.slider {
	
}